.button.has-no-border {
	border-style: none;
}

button.hover-bg-grey-lighter {
	box-shadow: none;
}

button.hover-bg-grey-lighter:not(:hover) {
	background-color: transparent;
}

button.hover-bg-grey-lighter:hover {
	background-color: hsl(0, 0%, 96%);
}

button.hover-bg-grey-lighter.is-active {
	color: hsl(348, 100%, 61%);
	background-color: hsl(347, 90%, 96%);
}

button.hover-text-danger {
	box-shadow: none;
}

button.hover-text-danger:not(:hover) {
	background-color: transparent;
}

button.hover-text-danger:hover {
	background-color: transparent;
	color: hsl(348, 100%, 61%);
}
