textarea.auto-textarea {
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
	width: 100%;
	font: inherit;
	background: transparent;
	box-shadow: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.box.add-day-task-form {
	border: 1px solid hsl(0, 0%, 96%);
	box-shadow: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.buttons.add-day-task-form-footer {
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid hsl(0, 0%, 96%);
}

.add-day-task-form-block {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
